SERVICE_ID=azerty
PASSWORD=YOUR_DB_PASSWORD
TOKEN=YOUR_DISCORD_APP_TOKEN
API_URI=YOUR_API_URI
AUTHOR=LeWeeky
AUTHOR_ID=449712261871829002
AUTHOR_URL=https://fr.tipeee.com/leweeky
COMPANY=ClappyCrew
COMPANY_LOGO=🐏
COMPANY_URL=https://clappycrew.com
MAIN_COMMAND=help
DB_HOST=YOUR_DB_IP_OR_DOMAIN