SERVICE_ID=YOUR_SERVICE_ID

TOKEN=SET_YOUR_DISCORD_APP_TOKEN
MAIN_COMMAND=SET_DISCORD_APP_MAIN_COMMAND

DB_DRIVER=mysql
DB_NAME=YOUR_DB_IP_OR_DOMAIN
DB_USER=YOUR_DB_IP_OR_DOMAIN
DB_HOST=YOUR_DB_IP_OR_DOMAIN
DB_PASSWORD=YOUR_DB_PASSWORD

AUTHOR=SET_YOUR_DISCORD_NAME
AUTHOR_ID=SET_YOUR_DISCORD_ID
AUTHOR_URL=SET_YOUR_WEBSITE
COMPANY=YOUR_TEAM_OR_COMPANY
COMPANY_LOGO=AN_EMOJI
COMPANY_URL=YOUR_COMPANY_URL

API_URI=SET_YOUR_API_URI